.header-title{
    text-align: center !important;
}

.body{
    color: var(--ion-color-text);
    font-family: sans-serif;
    color: gray;
}

.login-container{

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.text-white{
    color: white !important;
}
.registro-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}
.logo-header{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-top: 10%;
}
.form-container-reg{
    padding-top: 20%;
    padding-left: 10px;
    padding-right: 10px;
}


.logo-app{
    width: 100px;
    
}
.ion-input{
    color: gray;
}
.title-form{
    color: gray;
    margin-top: 20px;
    font-weight: bold;
}
.text-color{
color:var(--ion-color-text);
}
.text-center{
    text-align: center;
}
.row-text-center{
    justify-content :center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}
.white{
    color: white;
}
.btn-rounded{
    border-radius: 15px;
}
.txt-small{
    font-size: 13px;
}
.txt-medium{

    font-size: 15px;
}
.txt-large{
    font-size: 18px;
}
.m-t-1{
    
    margin-top: 10px;
}
.m-t-2{
    margin-top: 20px;
}
.m-t-3{
    margin-top: 30px;
}

.btn-primary{
    background-color: var(--ion-color-primary);

}

.custom-toolbar-container{
background: transparent;
width: 100%;
min-width: 100%;
position: fixed;
top:0;

text-align: center;

color:var(--ion-color-text);
}
.padding-page-top{
    padding-top: 10%;
}

.initContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
}
.init-logo{
    width: 80px;
    height: 80px;
}
.init-title{
    font-weight: bold;
    color: gray;
    font-family: sans-serif;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
}
.label-error{
    color: red;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 10px;
    margin-bottom: 4px;
}
.congratulation-title{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: gray;
}
.congratulation-description{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    color: gray;
    margin-bottom: 30px;
}
.card-form-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.card-tab{
    background-color:var(--ion-color-secondary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.ic-card{
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    color: white;
}
.btn-op-content{

    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.qr-image{
    width: 100%;
    
}

.transaction-content{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.max-heigth{
    min-height: 100%;
}

.not-account-vinclued{

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 8px;
    border-width: 1px;
    border-color: gray;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background: rgb(199 199 199);


}
.contained-centered{
    width: 80%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
}
.ic-wallet{
    width: 32px;
    height: 32px;
}
.wallet-label-price{
    font-size: 20px;
    
}
.transfer-list-container{
    flex-direction: column;
    display: flex;
    margin-top: 10%;
}
.header-list-transfer{
    flex-direction: row;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: rgb(219, 219, 219);
}
.header-list-option{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bolder;
   /*  border-radius: 2px; */
    background: rgb(226, 226, 226);
    color: rgb(34, 34, 34);
}
.header-list-option-selected{
background: var(--ion-color-primary);
color: white;
}
.list-card{
    width: 100%;
}